* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* todo remove: dev purpose */
.cube span div p {
  display: none;
}

.container {
  padding: 150px;
  width: 500px;
  height: 500px;
  perspective: 1000px;
  position: relative;
}

.cube {
  width: 300px;
  height: 300px;
  transform-origin: center;
  transform: rotateX(-25deg) rotateY(45deg);
  position: absolute;
  transform-style: preserve-3d;
}

.reset-animation {
  transition: transform 0.5s ease;
  transform: rotateX(-25deg) rotateY(45deg)  !important;
}

.cube span {
  width: 100px;
  height: 100px;
  background-color: rgb(51, 51, 51);
  position: absolute;
  border: 1px solid rgb(51, 51, 51);
}

.cube span div {
  width: 90%;
  height: 90%;
  margin: 5%;
  border-radius: 10%;
  position: absolute;
}

.cube span p {
  font-size: xx-large;
  text-align: center;
}

/* FRONT FACE */

.white {
  background-color: white;
}

#F1 {
  transform: translate3d(0px, 0px, 150px);
}
#F2 {
  transform: translate3d(100px, 0px, 150px);
}
#F3 {
  transform: translate3d(200px, 0px, 150px);
}
#F4 {
  transform: translate3d(0px, 100px, 150px);
}
#F5 {
  transform: translate3d(100px, 100px, 150px);
}
#F6 {
  transform: translate3d(200px, 100px, 150px);
}
#F7 {
  transform: translate3d(0px, 200px, 150px);
}
#F8 {
  transform: translate3d(100px, 200px, 150px);
}
#F9 {
  transform: translate3d(200px, 200px, 150px);
}

/* LEFT FACE */

.red {
  background-color: red;
}

#L1 {
  transform: rotate3d(0, 1, 0, -90deg) translate3d(-100px, 0px, 50px);
}
#L2 {
  transform: rotate3d(0, 1, 0, -90deg) translate3d(0px, 0px, 50px);
}
#L3 {
  transform: rotate3d(0, 1, 0, -90deg) translate3d(100px, 0px, 50px);
}
#L4 {
  transform: rotate3d(0, 1, 0, -90deg) translate3d(-100px, 100px, 50px);
}
#L5 {
  transform: rotate3d(0, 1, 0, -90deg) translate3d(0px, 100px, 50px);
}
#L6 {
  transform: rotate3d(0, 1, 0, -90deg) translate3d(100px, 100px, 50px);
}
#L7 {
  transform: rotate3d(0, 1, 0, -90deg) translate3d(-100px, 200px, 50px);
}
#L8 {
  transform: rotate3d(0, 1, 0, -90deg) translate3d(0px, 200px, 50px);
}
#L9 {
  transform: rotate3d(0, 1, 0, -90deg) translate3d(100px, 200px, 50px);
}

/* RIGHT FACE */

.orange {
  background-color: orange;
}

#R1 {
  transform: rotate3d(0, 1, 0, 90deg) translate3d(-100px, 0px, 250px);
}
#R2 {
  transform: rotate3d(0, 1, 0, 90deg) translate3d(0px, 0px, 250px);
}
#R3 {
  transform: rotate3d(0, 1, 0, 90deg) translate3d(100px, 0px, 250px);
}
#R4 {
  transform: rotate3d(0, 1, 0, 90deg) translate3d(-100px, 100px, 250px);
}
#R5 {
  transform: rotate3d(0, 1, 0, 90deg) translate3d(0px, 100px, 250px);
}
#R6 {
  transform: rotate3d(0, 1, 0, 90deg) translate3d(100px, 100px, 250px);
}
#R7 {
  transform: rotate3d(0, 1, 0, 90deg) translate3d(-100px, 200px, 250px);
}
#R8 {
  transform: rotate3d(0, 1, 0, 90deg) translate3d(0px, 200px, 250px);
}
#R9 {
  transform: rotate3d(0, 1, 0, 90deg) translate3d(100px, 200px, 250px);
}

/* BACK FACE */

.yellow {
  background-color: yellow;
}

#B1 {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 0px, 150px);
}
#B2 {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 0px, 150px);
}
#B3 {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 0px, 150px);
}
#B4 {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 100px, 150px);
}
#B5 {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 150px);
}
#B6 {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 150px);
}
#B7 {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 200px, 150px);
}
#B8 {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 200px, 150px);
}
#B9 {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 200px, 150px);
}

/* BACK FACE */

.green {
  background-color: green;
}

#U1 {
  transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, -100px, 50px);
}
#U2 {
  transform: rotate3d(1, 0, 0, 90deg) translate3d(100px, -100px, 50px);
}
#U3 {
  transform: rotate3d(1, 0, 0, 90deg) translate3d(200px, -100px, 50px);
}
#U4 {
  transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, 0px, 50px);
}
#U5 {
  transform: rotate3d(1, 0, 0, 90deg) translate3d(100px, 0px, 50px);
}
#U6 {
  transform: rotate3d(1, 0, 0, 90deg) translate3d(200px, 0px, 50px);
}
#U7 {
  transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, 100px, 50px);
}
#U8 {
  transform: rotate3d(1, 0, 0, 90deg) translate3d(100px, 100px, 50px);
}
#U9 {
  transform: rotate3d(1, 0, 0, 90deg) translate3d(200px, 100px, 50px);
}

/* DOWN FACE */

.blue {
  background-color: blue;
}

#D1 {
  transform: rotate3d(1, 0, 0, -90deg) translate3d(0px, -100px, 250px);
}
#D2 {
  transform: rotate3d(1, 0, 0, -90deg) translate3d(100px, -100px, 250px);
}
#D3 {
  transform: rotate3d(1, 0, 0, -90deg) translate3d(200px, -100px, 250px);
}
#D4 {
  transform: rotate3d(1, 0, 0, -90deg) translate3d(0px, 0px, 250px);
}
#D5 {
  transform: rotate3d(1, 0, 0, -90deg) translate3d(100px, 0px, 250px);
}
#D6 {
  transform: rotate3d(1, 0, 0, -90deg) translate3d(200px, 0px, 250px);
}
#D7 {
  transform: rotate3d(1, 0, 0, -90deg) translate3d(0px, 100px, 250px);
}
#D8 {
  transform: rotate3d(1, 0, 0, -90deg) translate3d(100px, 100px, 250px);
}
#D9 {
  transform: rotate3d(1, 0, 0, -90deg) translate3d(200px, 100px, 250px);
}
