nav {
    padding: 10px;
}
a {
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}
a:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
}