* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* variable */
  --square-size : 100px
}

#displayValue {
  height: 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container{
  /* canvas to display the cube */
  width: calc(var(--square-size) * 6);
  height: calc(var(--square-size) * 6);
  /* center horizontally */
  margin: auto;
  /* create perspective and preserve 3D  */
  perspective: 1000px;
  transform-style: preserve-3d;
}

.cube {
  /* use to create a reference point in center of the cube */
  width: var(--square-size);
  height: var(--square-size);
  /* center the cube in the canvas */
  position: absolute;
  margin:auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  transform-style: preserve-3d;
  /* start position of the cube */
  transform: rotateX(-20deg) rotateY(-20deg) rotateZ(0deg);
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  border: 1px solid black;
  text-align: center;
  line-height: 20px;
  text-decoration: underline;
  position: absolute;
}

/* FRONT */

.blue{
  background-color: rgb(72, 72, 253);
  rotate: y 0deg
}
/* top */
.blue.t.l {
  transform: rotate3d(0, 0, 0, 90deg) translate3d(-100px, -100px, 150px);
}
.blue.t.c {
  transform: rotate3d(0, 0, 0, 90deg) translate3d(0px, -100px, 150px);
}
.blue.t.r {
  transform: rotate3d(0, 0, 0, 90deg) translate3d(100px, -100px, 150px);
}
/* middle */
.blue.m.l {
  transform: rotate3d(0, 0, 0, 90deg) translate3d(-100px, 0px, 150px);
}
.blue.m.c {
  transform: rotate3d(0, 0, 0, 90deg) translate3d(0px, 0px, 150px);
}
.blue.m.r {
  transform: rotate3d(0, 0, 0, 90deg) translate3d(100px, 0px, 150px);
}
/* bottom */
.blue.b.l {
  transform: rotate3d(0, 0, 0, 90deg) translate3d(-100px, 100px, 150px);
}
.blue.b.c {
  transform: rotate3d(0, 0, 0, 90deg) translate3d(0px, 100px, 150px);
}
.blue.b.r {
  transform: rotate3d(0, 0, 0, 90deg) translate3d(100px, 100px, 150px);
}

/*  */

/* RIGHT */
.orange{
  background-color: orange;
  rotate: y 0deg
}
/* top */
.orange.t.l{
  transform: rotate3d(0, 1, 0, 90deg) translate3d(-100px, -100px, 150px);
}
.orange.t.c{
  transform: rotate3d(0, 1, 0, 90deg) translate3d(0px, -100px, 150px);
}
.orange.t.r{
  transform: rotate3d(0, 1, 0, 90deg) translate3d(100px, -100px, 150px);
}
/* middle */
.orange.m.l{
  transform: rotate3d(0, 1, 0, 90deg) translate3d(-100px, 0px, 150px);
}
.orange.m.c{
  transform: rotate3d(0, 1, 0, 90deg) translate3d(0px, 0px, 150px);
}
.orange.m.r{
  transform: rotate3d(0, 1, 0, 90deg) translate3d(100px, 0px, 150px);
}
/* bottom */
.orange.b.l{
  transform: rotate3d(0, 1, 0, 90deg) translate3d(-100px, 100px, 150px);
}
.orange.b.c{
  transform: rotate3d(0, 1, 0, 90deg) translate3d(0px, 100px, 150px);
}
.orange.b.r{
  transform: rotate3d(0, 1, 0, 90deg) translate3d(100px, 100px, 150px);
}

/*  */

/* BACK */
.green{
  background-color: green;
  rotate: y 0deg
}
/* top */
.green.t.l {
	transform:  rotate3d(0, 1, 0, 180deg) translate3d(-100px, -100px, 150px);
}
.green.t.c{
  transform:  rotate3d(0, 1, 0, 180deg) translate3d(0px, -100px, 150px);
}
.green.t.r{
  transform:  rotate3d(0, 1, 0, 180deg) translate3d(100px, -100px, 150px);
}
/* middle */
.green.m.l {
	transform:  rotate3d(0, 1, 0, 180deg) translate3d(-100px, 0px, 150px);
}
.green.m.c{
  transform:  rotate3d(0, 1, 0, 180deg) translate3d(0px, 0px, 150px);
}
.green.m.r{
  transform:  rotate3d(0, 1, 0, 180deg) translate3d(100px, 0px, 150px);
}
/* bottom */
.green.b.l {
	transform:  rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 150px);
}
.green.b.c{
  transform:  rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 150px);
}
.green.b.r{
  transform:  rotate3d(0, 1, 0, 180deg) translate3d(100px, 100px, 150px);
}

/*  */

/* LEFT */
.red{
  background-color: red;
  rotate: y 0deg
}
/* top */
.red.t.l{
  transform: rotate3d(0, 1, 0, 270deg) translate3d(-100px, -100px, 150px);
}
.red.t.c{
  transform: rotate3d(0, 1, 0, 270deg) translate3d(0px, -100px, 150px);
}
.red.t.r{
  transform: rotate3d(0, 1, 0, 270deg) translate3d(100px, -100px, 150px);
}
/* middle */
.red.m.l{
  transform: rotate3d(0, 1, 0, 270deg) translate3d(-100px, 0px, 150px);
}
.red.m.c{
  transform: rotate3d(0, 1, 0, 270deg) translate3d(0px, 0px, 150px);
}
.red.m.r{
  transform: rotate3d(0, 1, 0, 270deg) translate3d(100px, 0px, 150px);
}
/* bottom */
.red.b.l{
  transform: rotate3d(0, 1, 0, 270deg) translate3d(-100px, 100px, 150px);
}
.red.b.c{
  transform: rotate3d(0, 1, 0, 270deg) translate3d(0px, 100px, 150px);
}
.red.b.r{
  transform: rotate3d(0, 1, 0, 270deg) translate3d(100px, 100px, 150px);
}

/*  */

/* UP */
.white{
  background-color: white;
  rotate: y 0deg 
}
/* top */
.white.t.l{
  transform: rotate3d(1, 0, 0, 90deg) translate3d(-100px, -100px, 150px);
}
.white.t.c{
  transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, -100px, 150px);
}
.white.t.r{
  transform: rotate3d(1, 0, 0, 90deg) translate3d(100px, -100px, 150px);
}
/* middle */
.white.m.l{
  transform: rotate3d(1, 0, 0, 90deg) translate3d(-100px, 0px, 150px);
}
.white.m.c{
  transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, 0px, 150px);
}
.white.m.r{
  transform: rotate3d(1, 0, 0, 90deg) translate3d(100px, 0px, 150px);
}
/* bottom */
.white.b.l{
  transform: rotate3d(1, 0, 0, 90deg) translate3d(-100px, 100px, 150px);
}
.white.b.c{
  transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, 100px, 150px);
}
.white.b.r{
  transform: rotate3d(1, 0, 0, 90deg) translate3d(100px, 100px, 150px);
}

/*  */

/* DOWN */
.yellow{
  background-color: yellow;
  rotate: y 0deg 
}
/* top */
.yellow.t.l{
  transform: rotate3d(-1, 0, 0, 90deg) translate3d(-100px, -100px, 150px);
}
.yellow.t.c{
  transform: rotate3d(-1, 0, 0, 90deg) translate3d(0px, -100px, 150px);
}
.yellow.t.r{
  transform: rotate3d(-1, 0, 0, 90deg) translate3d(100px, -100px, 150px);
}
/* middle */
.yellow.m.l{
  transform: rotate3d(-1, 0, 0, 90deg) translate3d(-100px, 0px, 150px);
}
.yellow.m.c{
  transform: rotate3d(-1, 0, 0, 90deg) translate3d(0px, 0px, 150px);
}
.yellow.m.r{
  transform: rotate3d(-1, 0, 0, 90deg) translate3d(100px, 0px, 150px);
}
/* bottom */
.yellow.b.l{
  transform: rotate3d(-1, 0, 0, 90deg) translate3d(-100px, 100px, 150px);
}
.yellow.b.c{
  transform: rotate3d(-1, 0, 0, 90deg) translate3d(0px, 100px, 150px);
}
.yellow.b.r{
  transform: rotate3d(-1, 0, 0, 90deg) translate3d(100px, 100px, 150px);
}
