* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.container {
    padding: 10%;
    width: 500px;
    height: 500px;
    perspective: 1000px;
    position: relative;
  }
  
  .cube {
    width: 300px;
    height: 300px;
    transform-origin: center;
    transform: rotateX(-25deg) rotateY(45deg);
    position: absolute;
    transform-style: preserve-3d;
  }

  .cube span {
    width: 100px;
    height: 100px;
    position: absolute;
    /* background-color: rgb(59, 59, 59); */
    border: 2px solid rgb(51, 51, 51);
    transition: transform 0.5s ease;
  }

  .F {
    background-color: white;
    transform: translateZ(150px);
  }

  .t {
    transform: translateY(-100px);
  }

  .m {
    transform: translateY(0px)
  }
  .b {
    transform: translateY(100px)
  }

  .l{
transform: translateX(-100px)
  }
  .c{
transform: translateX(0px)
  }
  .r{
transform: translateX(100px)
  }